@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:wght@400;500;700&display=swap');

:root{
	--page-witdh: 1400px;

	--text-dest: #fa4646;
	--text-dest-bl: #2897f4;
	--main-bg:#0f0f0f;
	--sec-bg:#1a1a1a;
	--color-hover: #a2cbec;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

	scroll-behavior: smooth;

	color: white;
}

a{
	text-decoration: none;
}

body{
	background: var(--main-bg);
}


.section-header{
	max-width: 1400px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-bottom: 60px;	

	font-size: 2rem;
}

.section-header::before{
	content: '';
	position: absolute;
	width: 62%;
	height: 100%;
	background: rgb(206, 38, 38);

	border-radius: 25px;

	left: -30%;

	z-index: -1;
}
.section-header::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 50%;
	background: var(--main-bg);

	border-radius: 25px;

	z-index: -2;
}

header{
	width: 100vw;

	position: fixed;
	background: var(--main-bg);

	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: space-between;

	box-shadow: 0px -10px 60px -2px rgba(253, 133, 133, 0.336);

	padding: 20px 50px;

	border-radius: 0px 0px 10px 10px;

	border-bottom: 2px solid var(--text-dest);

	z-index: 1000;

	transition: transform 0.4s ease-out; 
}

header.hide {
  transform: translateY(-140%); /* Move a navbar para cima fora da tela */
}

header a{
	text-decoration: none;
	font-size: 1.2rem;

	padding: 4px;
}

header .logo{
	font-family: "Black Ops One", serif;
	background: linear-gradient(90deg, rgb(211, 9, 9) 50%, rgba(240, 24, 78, 0.904) 50%);
	background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	

	font-size: 1.8rem;
}

.nav-top{

	display: flex;
	gap: 16px;
}

.nav-active{
	position: relative;
	color: var(--text-dest);
}
.nav-active::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	
	border: 2px solid var(--text-dest);
	border-radius: 40px 0 100px 0;/* Adjust thickness */
}
.nav-active::after {
	content: '';
	position: absolute;
	bottom: 0;
	right:  0;
	width: 70%;
	
	border: 2px solid var(--text-dest);
	border-radius: 40px 0 100px 0;/* Adjust thickness */
}

a{
	position: relative;
}

header a::after{
	width: 0;
}

header a:not(.nav-active):hover::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 65%;
	

	border-radius: 40px 0 100px 0;/* Adjust thickness */
	background-color: var(--text-dest); /* Adjust color */
}

/* HOME SECTION */

.home{
	height: 92vh;

	display: flex;
	align-items: center;
	justify-content: center;

	gap: 6rem;

	background: var(--main-bg);
}

.home-img{
	border-radius: 40%;
}

.home-img img{
	width: 400px;
	height: 400px;
	object-fit:	cover ;

	border-radius: 50%;
}


.home_content{
	color: white;
}

.home-h1{
	font-size: 2.5rem;
}

.home-h1 span{
	font-size: 3rem;

	font-family: "Black Ops One", serif;
  font-style: normal;

	color: var(--text-dest);
}

.home_content .home-h3{
	font-size: 3rem;

	margin-bottom: 18px;
}
.home-h3 span{
	font-size: 3.5rem;

	font-family: "Black Ops One", serif;
  font-style: normal;

	color: var(--text-dest-bl);
}


.home_content p{
	max-width: 75ch;
	margin-bottom: 18px;
}

.home-contact{
	margin-bottom: 32px;

	display: flex;
	align-items: center;
	gap: 24px;
}

.home-contact .red-button{
	padding: 20px 32px;

	border-color: rgb(255, 255, 255);
}

/* projects section */

.projects{
	position: relative;
	background-color: var(--sec-bg);

	padding: 0px 0 80px;

}

.projects span{
	font-size: 1rem;
	color: var(--text-dest);

	position: absolute;
	right: 0px;
	top: 5px;

	padding: 5px;
}

.projects span::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(224, 221, 221);

	border-radius: 25px;

	z-index: -1;
}

.projects-options{
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	gap: 20px;
	max-width: 1400px;

}

.projects-options div{
	position: relative;

	cursor: pointer;

	width: 100%;
	height: 300px;

	clip-path: stroke-box;

	background: rgba(228, 90, 90, 0.616);
}

.projects-options div:nth-child(even) p{
	font-family: "Black Ops One", serif;
	font-size: 2.5rem;
	color: azure;

	letter-spacing: 10px;
	left: 380px;
	top: 120px;

	rotate: 60deg;

	position: absolute;

	z-index: 100;
}

.projects-options div:nth-child(even) img{
	width: 600px;
	rotate: 10deg;

	top: -10px;

	left: -200px;

	position: absolute;
}

.projects-options div:nth-child(odd){
	background: #663399;
}

.projects-options div:nth-child(odd) img{
	width: 900px;
	rotate: 310deg;

	right: -200px;

	position: absolute;
}
.projects-options div:nth-child(odd) P{
	font-family: "Black Ops One", serif;
	font-size: 2rem;
	color: azure;

	letter-spacing: 10px;

	rotate: 314deg;
	right: 220px;
	bottom: 134px;

	position: absolute;

	z-index: 100;
}

.pro-projects{
	max-width: 1200px;
	margin-top: 60px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-wrap: wrap;
	gap: 60px;
}

.pro-holder{
	width: fit-content;

	display: grid;
	grid-template-rows: auto auto;

	background-color: rgb(233, 233, 233);
	border-radius: 20px;
}
.pro-imgs > img{
	width: 360px;
	height: 200px;

	object-fit:cover;
	object-position: 0% 45%;
}

.pro-details{
	max-width: 420px;
	max-height: fit-content;
	padding: 8px 24px 24px;

	display: grid;
	grid-template-rows: 30px 200px 20px 40px;

	align-items: start;
}

.pro-details h3{
	color: var(--text-dest);
	font-weight: 800;	

	margin-bottom: 8px;
}

.pro-details p{
	color: rgb(31, 21, 21);
}

.pro-description{
	max-width: 30ch;
	margin-bottom: 20px;
}

.pro-used{
	color: rgb(255, 0, 0);
	font-weight: 500;
	line-height: .5;
}

.bottom-details{
	display: flex;
	justify-content: space-between;
}

.red-button{
	width: fit-content;
	background-color: var(--text-dest);

	padding: 5px 20px; 

	border: 2px solid rgb(223, 143, 226);
	border-radius: 10px;

	cursor: pointer;
}

.pro-languages{
	display: flex;
	align-content: center;
	gap: 10px;
}


.pro-languages > img{
	width: 40px;
	height: 40px;

	border: 4px solid black;
	object-fit: cover;
	border-radius: 20px;
}


/* ABOUT ME SECTION */

.about-me{
	background-color: var(--main-bg);
}

.about-me .container-holder{
	max-width: 1400px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	padding: 00px 0 40px;
}


.about-me h2::after{
	background: var(--sec-bg);
}


.about-me .about-container{
	display: flex;
	gap: 20px;

	padding: 0px 0px 40px;
}

.about-me .side-bar nav{
	display: flex;
	flex-direction: column;
}

.side-bar nav button{
	position: relative;

	width: 160px;
	height: 80px;
	
	border: 0;
	border-left: 4px solid whitesmoke;
	border-radius: 0 40px 40px 0;

	cursor: pointer;

	background: transparent;

	z-index: 2;
}

.side-bar button:hover,
.side-bar button:not(.active):hover::after{
	width: 100%;
	border-left: 2px solid var(--text-dest-bl);
}
.side-bar button::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	background: var(--color-hover);


	border-radius: 0 40px 40px 0;

	transition: width .2s ease-in-out;

	z-index: -1;
}

.side-bar button.active{
	background: var(--text-dest-bl);
}

.side-bar nav button.active{
	border-left: 2px solid var(--text-dest-bl);
}


.about-me .about-content{
	display: flex;
	flex-direction: column;
	justify-content: start;

	padding: 20px 36px;

	max-width: 110ch;
}



.desc-holder{
	display: none;

	padding: 0 20px 20px;
}

.desc-holder.active{
	display: block;
}

.desc-holder > .content-header{
	border-bottom: 6px solid var(--text-dest-bl);

	text-transform: uppercase;
	color: #f8f5eb;
	font-weight: bold;

	margin-bottom: 20px;
}

.content-header:not(:first-child){
	margin-top: 48px;
}

.contact{
	background-color: var(--sec-bg);
	padding: 0 0 60px;
}

.contact-holder{
	max-width: 1400px;

	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.contact-holder > .section-header::before{
	width: 75%;
}

.contact-content{
	max-width: 600px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.col{
	display: flex;
	gap: 10px;
	
}

.form-row input, .form-group textarea{
	width: 100%;

	border:2px solid #0f0f0f;
	border-radius: 10px;
	padding: 10px;

	margin-bottom: 4px;

	color: black;
}

.form-row input:focus, .form-group textarea:focus{
	border: 2px solid var(--text-dest);
	box-shadow: 0 0 10px 0  var(--text-dest-bl);

	outline: none;
}

.others-contact{
	width: 100%;

	display: flex;
	justify-content: space-around;

	padding: 0px 10px 12px;
}

.others-contact img{
	width: 60px;

	background: var(--text-dest-bl);

	border: 2px solid var(--text-dest);
	border-radius: 30px;

	padding: 2px;

	transition: color 1s ease-out;
}

.others-contact img:hover{
	background: var(--text-dest);
}